<?xml version="1.0"?>
<launch>

  <arg name="namespace" default="/hsrb"/>
  <arg name="debug" default="false"/>
  <arg name="gui" default="true"/>
  <arg name="rviz" default="false"/>
  <arg name="gazebo_visualization" default="false"/>
  <arg name="use_manipulation" default="true"/>
  <arg name="use_navigation" default="true"/>
  <arg name="use_perception" default="false"/>
  <arg name="use_task" default="true"/>
  <arg name="use_teleop" default="false"/>
  <arg name="use_web" default="false"/>
  <arg name="use_laser_odom" default="true"/>
  <arg name="paused" default="true"/>
  <arg name="fast_physics" default="false"/>

  <arg unless="$(arg fast_physics)" name="world_suffix" value=""/>
  <arg if="$(arg fast_physics)" name="world_suffix" value="_fast"/>
  <include file="$(find hsrb_gazebo_bringup)/launch/hsrb_empty_world.launch">
    <!-- <arg name="world_name" value="$(find tmc_gazebo_worlds)/worlds/apartment_fast.world" /> -->
    <arg name="world_name" value="$(find takeshi_start)/worlds/takeshi_apartment_objects_remasterized.world" />
    <arg name="robot_pos" value="-x 9 -y 8 -z 0 -Y 3.1416"/>
    <arg name="use_laser_odom" value="false"/>
  </include>
</launch>
